body {
    /* BACKGROUND */
    background: #000080;

    /* FONT AND COLOR */
    font-family: "source-code-pro", monospace;
    font-weight: 400;
    font-style: normal;

    color: #FFD700;
}

h1,
h2,
h3 {
    /* FONT AND COLOR */
    font-family: "ethnocentric", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;

    text-align: center;
}

h3{
    font-size: 60px;
}

p {
    font-size: 25px;
}

.title {
    animation: fadeIn 2s;
}

@keyframes fadeIn {

    /* help https://blog.hubspot.com/website/css-fade-in */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ordercontainer {
    margin: auto;
    width: 100%;
}

.orderbutton {
    color: #FFD700;

    width: 100%;
    font-size: 40px;
    background-color: darkslateblue;

    font-family: "ethnocentric", sans-serif;
    font-weight: 700;
    font-style: italic;

    margin: auto;
    text-align: center;
}

.orderbutton:hover {
    background-color: #FFD700;
    color: darkslateblue;
}


.importantbox {
    background-color: darkslateblue;
    color: #FFD700;

    width: 75%;

    margin: auto;
    text-align: center;
}

.importantbox>h1 {
    font-size: 90[x];
    padding-top: 20px;
    padding-bottom: 12px;
}

.importantbox>h3 {
    color: #FFC18C;
}

.importantbox>p {
    color: #FFC18C;
    padding: 10px;
}

.titlecontainer {
    margin: auto;
    width: 45%;
}

.ordercontainer{
    width: 30%;
}

.margins{
    width: 50%;
}

.col-md > h3{
    font-size: 35px;
}
