.feature-card-container {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .feature-card-text {
    font-weight: 600;
    line-height: 28px;
  }
  @media(max-width: 767px) {
    .feature-card-feature-card {
      flex-direction: row;
    }
    .feature-card-container {
      flex-direction: column;
    }
  }
  @media(max-width: 479px) {
    .feature-card-container {
      flex-direction: column;
    }
  }
  
  .question1-container {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .question1-text {
    font-weight: 700;
  }
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .home-buttons {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-logo {
    text-align: center;
  }
  .home-burger-menu {
    display: none;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-links {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-hero-heading {
    max-width: 800px;
    text-align: center;
  }
  .home-hero-sub-heading {
    font-size: 18px;
    text-align: center;
  }
  .home-btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-hero-button1 {
    text-decoration: none;
  }
  .home-features {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .home-container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-features-heading {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-features-sub-heading {
    font-size: 18px;
    text-align: center;
  }
  .home-container4 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .home-pricing {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-banner {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-faq {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-faq1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container5 {
    display: flex;
    max-width: 35%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text31 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container6 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-container7 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-nav1 {
    flex: 0 0 auto;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
  }
  @media(max-width: 991px) {
    .home-hero1 {
      flex-direction: column;
    }
    .home-container2 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
      padding-right: 0px;
    }
    .home-hero-heading {
      text-align: center;
    }
    .home-hero-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .home-features-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
  }
  @media(max-width: 767px) {
    .home-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-nav1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav2 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav3 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav4 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav5 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-hero1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-hero-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-features1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-features-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-container4 {
      grid-template-columns: 1fr;
    }
    .home-faq1 {
      flex-direction: column;
    }
    .home-container5 {
      max-width: 100%;
      align-self: center;
      align-items: center;
      justify-content: center;
    }
    .home-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu1 {
      padding: 16px;
    }
    .home-hero1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-container2 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-btn-group {
      flex-direction: column;
    }
    .home-features1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-footer1 {
      padding: var(--dl-space-space-unit);
    }
  }
  